*{
    margin: 0;
    padding: 0;
}

.total{

    width:100%;
    height:790px;
    /* justify-content: center; */
    padding-top:84px;
    background: linear-gradient(93.81deg, #B6B6F4 3.12%, #DABFE4 40.57%, #DABFE4 54%, #FFDDE6 93.06%);
    border-radius: 9px;





}
.first-content{
    width: 329px;
    height: 34px;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    font-size: 39px;
    line-height: 60.19%;
    /* or 23px */
    color: #090155;
    margin:auto;
    
    text-align: center;

}

.sub-content{
width:100%;
height:62px;
/* background-color: aqua; */


}


.buzz-probability{
    margin:auto;
    width:416.83px;
    height:160px;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 600;
    font-size: 214px;
    line-height: 129px;
    letter-spacing: -0.06em;
    color: #090155;
    text-shadow: 9px 15px 10px rgba(0, 0, 0, 0.25);
    transform: matrix(1, 0, -0.04, 1, 0, 0);

}

.buzz-probability span{
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 600;
    font-size: 94px;
    line-height: 57px;
    color: #090155;
    text-shadow: 9px 15px 10px rgba(0, 0, 0, 0.25);
    transform: matrix(1, 0, -0.04, 1, 0, 0);
    
}

.other-button-container{
    width:100%;
    height:134px;

}

section {
    max-width: 300px;
    margin: 0 auto;
  }
  a.btn_03 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
    background: #f7f9fb;
    border: 1px solid #f7fbfd;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0 45px 0 25px;
    color: rgb(15, 14, 14);
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.3s;
  }
  a.btn_03:before {
    content: '';
    width: 8px;
    height: 8px;
    border: 0;
    border-top: 2px solid #090155;
    border-right: 2px solid #090155;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -6px;
  }
  a.btn_03:hover {
    background: #090155;
    color: #f7f9fb;
  }
  a.btn_03:hover:before {
    border-top: 2px solid #f7f9fb;
    border-right: 2px solid #f7f9fb;
  }

.sub-content-2{
    width:100%;
    height:20px;
    /* background-color: aqua; */
    
    
    }