{% extends "layout.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="../static/css/index.css" media="screen">
</head>



<div class="fadeUp">
    <div class="first-content">
        <div class="title-photo-container">
            <div class="title">
                <div class="title-1">SNS運用に悩んでいるあなたへ</div>
                <div class="title-2">さらなる共感を<br>生み出せるツイートに</div>
                <div class="title-1">AIによってあなたのツイートが<br> バズるかバズらないか判定します．</div>
            </div>
            <div class="photo-container">

            </div>
        </div>
        <div class="scroll-box">
            <span>Scroll</span>
            <div class="scroll-down">
            </div>
        </div>
    </div>
</div>
<div class="fadeUp">
    <div class="second-content">
        <div class="second-title">AIによってあなたのツイートの<br>バズる可能性を数値化</div>
        <div class="second-mini-title">Twitter運用に成功している企業のツイート内容を収集・分析<br>BtoB企業のSNS運用を成功に導く手助けをします</div>
        <div class="second-picture"><img src="static/images/probability.png"></div>

    </div>
</div>

<div class="fadeUp">
    <div class="third-content">
    
        <div class="third-title-box">
            <div class="third-title">BtoB企業に特化した<br>分析機能</div>
            <div class="third-mini-title">実際のBtoB企業アカウントのツイートをAIで分析し、<br>いいね数・RT数100以上を獲得できる確率を算出</div>
            <div class="button"></div>
            <section>
                <a href="/input" class="btn_03">早速ためしてみる</a>
            </section>
        </div>
        <div class="third-picture"><img src="static/images/analysis.png"></div>

    </div>
</div>
<div class="fadeUp">
    <div class="forth-content"></div>
</div>

<footer>

</footer>

{% endblock %}