<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="../static/css/style.css" media="screen">
        <title>Buzz API</title>
    </head>
    <body>
        <body_1>
            <header class="header_own">
                <div class="logo-container">
                    <div class="logo"><img src="static/images/logo.png"></div>
                    <div class="header-box-1"><a href="/">Buzz API</a></div>
                </div>
                <div class="header-box-2">
                    <a href="/">top</a>
                    <a href="#second-content">about</a>
                    <a href="#forth-content">contact</a>
                </div>
            </header>
            {% block content %}{% endblock %}
        </body_1>
    </body>
</html> 